@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import "rsuite/dist/rsuite.css"; */

:root {
  --rs-primary-100: #e8e8e8;
  --rs-primary-200: var(--blue-a6);
  --rs-primary-300: var(--blue-a7);
  --rs-primary-400: var(--blue-a8);
  --rs-primary-500: var(--blue-a9);
  --rs-primary-600: var(--blue-a10);
  --rs-primary-700: var(--blue-a11);
  --rs-primary-800: var(--blue-a12);
  --rs-primary-900: var(--blue-a13);
}

/* hello */

.rs-btn-primary {
  background-color: var(--blue-a9);
}

body {
  font-family: "Poppins";
}

/* .text-title {
  font-family: "Caladea";
} */

.rs-btn-sm {
  background-color: var(--blue-a9);
  color: white;
  height: 2rem;
}

.rs-picker-select-menu .rs-picker-select-menu-items {
  padding: 0.5rem;
}

.rs-picker-default .rs-picker-toggle {
  background-color: var(--blue-a3) !important;
}

.rs-picker-select-menu-item:hover {
  background-color: var(--blue-a9) !important;
  border-radius: 0.5rem;
  color: white;
}

.rdrDefinedRangesWrapper {
  display: none;
}

.rs-picker-error > .rs-input-group {
  border: 0.5px solid lightgray !important;
}

.rs-input-group {
  overflow: hidden;
}

.rs-input-group-sm {
  overflow: hidden;
  height: 33px;
  align-items: center;
  /* border: 1px solid black; */
}

.rs-input {
  /* background: var(--blue-a3); */
  border-radius: 0;
  /* height: 2rem; */
}

.rs-picker-error > .rs-input-group:focus-within {
  outline: 1.5px solid var(--blue-a9) !important;
  transition: all 0.1s;
}

h1 {
  font-weight: 700;
  font-size: 2.5rem;
}
